<html>
<head>
    <title>Hotel Reservation</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

    <header>
        <nav>
            <button type="button" onclick="location.href='/main'">Main Page</button>
            <button type="button" onclick="location.href='/reservations'">Reservations</button>
            <button type="button" onclick="location.href='/clients'">Clients</button>
            <button type="button" onclick="location.href='/rooms'">Rooms</button>
            <button type="button" onclick="location.href='/suites'">Suites</button>
        </nav>
    </header>
   <br>
   <br>
   <form method="post">
           <ul>
               <li>
                   <label for="roomNumber"><b>Room Number</b></label>
                   <input type="number" placeholder="Enter Room Number" name="roomNumber" min="1" max="9999" step="1" value="$prevRoomNumber" required>
               </li>

               <li>
                    <label for="suiteType"><b>Select Suite Type</b></label>
                    <select name="suiteType">
                        <option value="$prevType" selected="selected" hidden="hidden">$prevType</option>
                    #foreach($suite in $suites)
                        <option value="$suite.type">$suite.type</option>
                    #end
                    </select>
               </li>

               <li>
                   <label for="description"><b>Description</b></label>
                   <input type="text" placeholder="Enter Description" name="description" value="$prevDescription" required>
               </li>
               <br>
               <button type="submit" class="submitBtn2"> Update </button>
               <br>
               <br>
               <br>
               <button type="button" class="cancelBtn2" onclick="location.href='/rooms'"> Cancel </button>
           </ul>
       </form>
</body>
</html>