<html>
<head>
    <title>Hotel Reservation</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

    <header>
        <nav>
            <button type="button" onclick="location.href='/main'">Main Page</button>
            <button type="button" onclick="location.href='/reservations'">Reservations</button>
            <button type="button" onclick="location.href='/clients'">Clients</button>
            <button type="button" onclick="location.href='/rooms'">Rooms</button>
            <button type="button" onclick="location.href='/suites'">Suites</button>
        </nav>
    </header>
    <br>
    <br>
    <form method="post">
        <ul>
            <li>
                <label for="firstName"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="firstName" required>
            </li>

            <li>
                <label for="lastName"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="lastName" required>
            </li>

            <li>
                <label for="cnp"><b>CNP</b></label>
                <input type="number" placeholder="Enter CNP" name="cnp" min="1000000" max="9999999" step="1" required>
            </li>
            <br>
            <button type="submit" class="submitBtn2"> Submit </button>
            <br>
            <br>
            <br>
            <button type="button" class="cancelBtn2" onclick="location.href='/reservations'"> Cancel </button>
        </ul>
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th> Id </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> CNP </th>
            <th> Room Number </th>
            <th> Start Date </th>
            <th> End Date </th>
            <th colspan="2"> Actions </th>
        </tr>
        #foreach ($reservation in $reservations)
            <tr>
                <td> $reservation.id </td>
                <td> $reservation.client.firstName </td>
                <td> $reservation.client.lastName </td>
                <td> $reservation.client.cnp </td>
                <td> $reservation.room.description </td>
                <td> $reservation.startDate </td>
                <td> $reservation.endDate </td>
                <td>
                    <form action="/reservations/payment">
                        <input type="hidden" name="resId" value="$reservation.id"/>
                        <button type="submit" class="submitBtn"> Pay Reservation </button>
                    </form>
                </td>
                <td>
                    <button type="button" class="cancelBtn" onclick="if (confirm('Are you sure you want to Cancel Reservation with ID = $reservation.id ?')) { location.href='/reservations/delete/$reservation.id'; }">
                    Cancel Reservation </button>
                </td>
            </tr>
        #end
    </table>
</body>
</html>