body {
    background-color: #d6d4d4;
    margin: 5px;
    padding: 0;
}

header {
    background-image: url("hotel.jpg");

    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 50px;
}

ul {
    width: 30%;
}

li {
    list-style-type: none;
    margin: 1px;
    padding: 6px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 1px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input:focus {
    background-color: lightblue;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

select:focus {
    background-color: lightblue;
}

button {
    background-color: #09855f;
    color: white;
    font-size: 14px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
}

.cancelBtn {
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.cancelBtn2 {
    background-color: red;
    color: white;
    width: 20%;
    font-size: 15px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 7px;
}

.submitBtn {
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.submitBtn2 {
    background-color: green;
    width: 97%;
    color: white;
    font-size: 17px;
    padding: 7px;
    border: 0;
    cursor: pointer;
    margin-left: 7px;
}

nav {
    display: flex;
    justify-content: center;
}

nav button {
    border: 0;
    background: #ff5108;
    color: white;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 300px;
    margin-left: 50px;
}

table, th, td {
    border: 2px solid black;
}

table {
    background-color: #7a7370af;
    border-collapse: collapse;
    width: 100%;
    height: 30px;
}

th {
    background-color: #a39f9f;
}

th, td {
    text-align: center;
}

tr {
    background-color: #a9d5dbee;
    height: 30px;
}

tr:nth-child(even) {
    background-color: #72bcd3;
}

.message {
    color: green;
}

.error {
    color: red;
}